body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.card {
  display: grid;
  place-items: start;
}

.carTitle,
.cardImg {
  grid-area: 1 / 1;
}

.cardTitle {
  z-index: 1;
  color: #fff;
  padding: 0.6em 1.2em;
  background-color: #333;
  margin: 0;
}